<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link rel="stylesheet"
	href="/resources/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/resources/css/iF.step.css" />
<style>
body {
	padding-top: 70px;
}
.table th, .table td {
	vertical-align: middle !important;
	height: 38px;
}
</style>
</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="bs-example bs-navbar-top-example">
					<nav class="navbar navbar-default navbar-fixed-top"> <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
					<div class="container container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-6"
								aria-expanded="false">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">Brand</a>
						</div>

						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-6">
							<ul class="nav navbar-nav">
								<li><a href="/main/index">商品</a></li>
								<li><a href="/cart">购物车<span class="badge">${cartNum}</span></a></li>
								<li class="active"><a href="#">订单中心</a></li>
								<li class="disabled "><a href="# ">more...</a></li>
							</ul>
							<p class="navbar-text navbar-right" style="padding-right: 30px">
									#if(${userName})
										<a class="navbar-link" href="/userInfo/userIndex/${userName}">${userName}</a>
									#else
										<a class="navbar-link" href="/count/RegisterAndLoginView ">游客,请登录</a>
									#end
							</p>
						</div>
					</div>
					</nav>
				</div>
				<div>
					<table class="table table-bordered">
                        <thead>
                            <tr align="center">
								<td>编号</td>
								<td>名称</td>
                                <td>商品数量</td>
								<td>商品总额</td>
								<td>订单总额</td>
								<td>订单状态</td>
							</tr>
						</thead>
						<tbody>
							#foreach($OrderInfo in $totalOrders)
								#set($num = ${OrderInfo.orderItems.size()} + 1)
    							<tr>
									<td rowspan="$num" colspan="1" align="center">
										$foreach.count
									</td>
									<td colspan="5">
										<strong>订单编号：${OrderInfo.orderid}&nbsp;&nbsp;&nbsp;&nbsp;收货人：${OrderInfo.address.realName}&nbsp;&nbsp;&nbsp;&nbsp;收货地址:${OrderInfo.address.province}${OrderInfo.address.city}${OrderInfo.address.district}</strong>
									</td>
								</tr>
    							#foreach($item in $OrderInfo.orderItems)
        							<tr  align="center">
                                            <td>${item.product.gName}</td>
    										<td>${item.pNum}</td>
    										<td>￥${item.pPrice}</td>
    										#if($loopCounter == 0)
                                                <td rowspan="${OrderInfo.orderItems.size()}"><strong>￥${OrderInfo.totMoney}</strong></td>
                                                <td rowspan="${OrderInfo.orderItems.size()}">
    											#if(${OrderInfo.oState} == 1)
    												等待付款
    											#end
    											</td>
    										#end
                                    </tr>
    							#end
							#end
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript"
		src="/resources/js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript"
		src="/resources/js/bootstrap.min.js"></script>
</body>

</html>